# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules
.pnp
.pnp.js

# Build
dist
dist-ssr
*.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Env
.env
.env.local
.env.*.local

.vercel

# Temp files
dist_old/
dist_old2/
*.zip
vite.config.ts.timestamp-*
ziSBT6Ge
.vite_old/
supabase/.temp/
